body {
    width: 200px;
    height: 200px;
    background-color: bisque;
  }

article {
    width: 800px;
    height: 100px;
    background-color: red;
}

p {
    width: 800px;
    height: 100px;
    background-color:cornflowerblue;
}

h2 {
    width: 800px;
    height: 100px;
    background-color: rgb(233, 229, 25);
}